@model IEnumerable<MarinaProject.Models.PowerBoat>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="../Boats/Index">Boats</a></li>
    <li class="nav-item"><a class="nav-link active" href="../PowerBoats/Index">PowerBoats</a></li>
    <li class="nav-item"><a class="nav-link active" href="../SailBoats/Index">SailBoats</a></li>
    <li class="nav-item"><a class="nav-link active" href="../RowBoats/Index">RowBoats</a></li>
</ul>

<p>
    <a asp-action="Create">Add Boat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfEngines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoatType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoatLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfEngines)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoatType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Registration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoatLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BoatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BoatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BoatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<p>
    <a asp-controller="Boats" asp-action="Index">Back to Boats</a>
</p>